*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "nunito", sans-serif;
}

.heroe-text{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 80px;

}
.fa-magnifying-glass{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.abt-logo-text{
    font-size: 40px;
    color: #fff;
    padding: 20px 0px 0px 30px;
}

.heroe{
background-image:url(/Quickserch_photos/chalk_board.jpg);

}

    

.banner{
/* background-image:url(/Quickserch_photos/chalk_board.jpg); */
 /* box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75); */
height: 400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;

justify-content:center;
/* padding-top:10px ; */
}

.description{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding-bottom: 70px;
}


/* 
work flow section */

.workflow{
    background-image: url(/Quickserch_photos/magnifier_on_desk.jpeg);
    background-size: cover;
    height: 300px;
      margin-bottom: 400px;
}

.wf-heading{
 justify-self: center;
 /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
 margin-bottom: 10px;
 color: rgba(48, 82, 65, 0.801);
 margin-top: 20px;

}
.wf-sub{
    font-size: 20px;font-style: italic;
     justify-self: center;
     margin-bottom: 40px;
}

.wf-desc-box{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
  

}

.wf-student-img{
    width: 20%;
    object-fit: contain;
}

.wf-img-txt{
    width: 30%;

}