*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "nunito", sans-serif;
}

.heroe-text{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 80px;

}
.fa-magnifying-glass{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 90px;
}
.heroe{
background-image:url(/Quickserch_photos/chalk_board.jpg);
}

    

.banner{
/* background-image:url(/Quickserch_photos/chalk_board.jpg); */
 /* box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75); */
height: 400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;

justify-content:center;
padding-top:10px ;
}

/* SIGN UP */

.sign-up-options{
  background-image:url(/Quickserch_photos/glitch_bg.jpg),linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.836)) ;
  /* border-radius: 300px 300px 0px 0px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
  width: 100%;
  height: 400px;  
  background-size: cover ;
}

/* FOOTER */
footer{
  
  background-image: url(/Quickserch_photos/camera_magnifier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  height: 300px;
}
