*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "nunito", sans-serif;
}

.heroe-text{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 80px;

}
.fa-magnifying-glass{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}
.heroe{
background-image:url(/Quickserch_photos/chalk_board.jpg);

}

    

.banner{
/* background-image:url(/Quickserch_photos/chalk_board.jpg); */
 /* box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75); */
height: 400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;

justify-content:center;
/* padding-top:10px ; */
}

.description{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding-bottom: 70px;
}

/* SUB HEAD */
 .sub_head{
    background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.836)),url(/Quickserch_photos/student_and_tutors.jpeg);
    background-size: cover;
    height: 300px;
    background-attachment: fixed;
    width: 100%;
 }

 .sub_head_box{
   
 }

 .sub_text{
    font-size: rem;
    color: #fff; 
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    justify-self: center;
    margin-top: 40px;
    font-size: 2rem;
    

 }
/* SIGN UP */


/* FOOTER */
footer{
  
  background-image: url(/Quickserch_photos/camera_magnifier.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  height: 300px;
}
