@media (max-width: 1024px) {
  .heroe-text {
    font-size: 4rem;
    padding-top: 60px;
  }
  .fa-magnifying-glass {
    font-size: 4rem;
    padding-top: 40px;
  }
  .sub_text {
    width: 70%;
    font-size: 18px;
  }
  .button_box {
    width: 70%;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
    padding: 20px 20px 0 20px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .navlink {
    font-size: 14px;
  }
  .nav_button {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
  .heroe-text {
    font-size: 3rem;
    padding-top: 40px;
  }
  .fa-magnifying-glass {
    font-size: 3rem;
    padding-top: 20px;
  }
  .description {
    font-size: 1.4rem;
    padding-bottom: 40px;
    padding-inline: 20px;
  }
  .sub_text {
    width: 90%;
    font-size: 16px;
    padding-top: 40px;
  }
  .button_box {
    width: 90%;
    margin-top: 20px;
  }
  .btn_body {
    flex-direction: column;
    padding: 10px 20px 20px 20px;
  }
  .main-btn {
    width: 100%;
  }
  footer {
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .heroe-text {
    font-size: 2.4rem;
  }
  .fa-magnifying-glass {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .sub_text {
    font-size: 14px;
  }
}

