@media (max-width: 1024px) {
  .heroe-text {
    font-size: 1.8rem;
  }
  .description {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
    padding: 20px 20px 0 20px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .navlink {
    font-size: 14px;
  }
  .nav_button {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
  .heroe-text {
    font-size: 1.6rem;
    bottom: 20px;
  }
  .description {
    font-size: 0.9rem;
    padding-bottom: 30px;
    padding-inline: 20px;
  }
  .inputs {
    width: 100%;
    padding-inline: 10px;
  }
  input {
    width: 80%;
  }
  .acc_btn {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .heroe-text {
    font-size: 1.4rem;
  }
  input {
    width: 90%;
    padding: 15px;
  }
  .acc_btn {
    width: 60%;
  }
}

