*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}


.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nunito{
    font-family: "nunito", sans-serif;
}


.roboto-condensed{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.heroe-text{
    font-size: 2rem;
    color: #46945d;
    text-align: left;
     position: relative;
    bottom: 33px;
    /* padding-top: 80px; */
    padding-left: 20px; 
    
}


.fa-magnifying-glass{
    font-size: 2rem;
    color: #46945d;
    text-align: center;
    
}

.description{
    font-size: 1rem;
    color: #46945dad;
    text-align: center;
    padding-bottom: 50px;
}
/* 
.fa-solid{
    color: #46945d;
    font-size: 6rem; 
} */


nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-self:right;
    padding: 30px 60px 0 0;
    /* outline:1px solid yellow */
}


.navlink{
    font-size: 15px;
    color: #46945d;
    ;
    text-decoration: none;
    padding-top: 6px;
    font-weight: 700;
    border-bottom: 1px solid white; 
    margin-bottom: 3px;
   


}
.nav_button{
    padding: 7px;
    border-radius:5px;
    border: none;
    color: #f3f0f0;
    font-size: 1rem;
    background-color: #f85d03b0;
    
    
}
.nav_button:hover{
    cursor:pointer;
}
.heroe{


}

    

.banner{
/* background-image:url(/Quickserch_photos/chalk_board.jpg); */
 /* box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75); */
/* height: 400px; */
width: 100%;
background-size: cover;
background-repeat: no-repeat;


/* padding-top:10px ; */
}

/* login section */

.log_header{
    text-align: center;
    font-size: 1.4rem;
    color: #46945d;
    margin-bottom: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-self: center;
}


input{
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    border-bottom: 1px solid #46945d; 
    outline: none;
    border: none;
    color: rgba(0, 255, 255, 0.171);
   align-self: center;
   background-color: rgba(247, 244, 244, 0.377);
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.acc_btn{
       width: 10%;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 1px solid ;
    background-color: #236d39c0;
    align-self: center;
    border: none;
    color: white;
    font-size: 1rem;

   
}

.uid{
    margin-bottom: 50px;
}

.acc_link{
    text-align: center;
    
}

.acc_link:hover{
    cursor: pointer;
}


